In [1]:
import numpy as np
import pandas as pd
import seaborn as sb
import matplotlib.pyplot as plt
import category_encoders as ce
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.decomposition import PCA
from sklearn.ensemble import RandomForestRegressor  
from sklearn.svm import SVR
from sklearn import metrics
from sklearn.metrics import accuracy_score




%matplotlib inline

In [2]:
!pip install category_encoders

Requirement already satisfied: category_encoders in c:\users\gopal\anaconda3\lib\site-packages (2.6.0)
Requirement already satisfied: numpy>=1.14.0 in c:\users\gopal\anaconda3\lib\site-packages (from category_encoders) (1.20.3)
Requirement already satisfied: patsy>=0.5.1 in c:\users\gopal\anaconda3\lib\site-packages (from category_encoders) (0.5.2)
Requirement already satisfied: scikit-learn>=0.20.0 in c:\users\gopal\anaconda3\lib\site-packages (from category_encoders) (0.24.2)
Requirement already satisfied: scipy>=1.0.0 in c:\users\gopal\anaconda3\lib\site-packages (from category_encoders) (1.7.1)
Requirement already satisfied: pandas>=1.0.5 in c:\users\gopal\anaconda3\lib\site-packages (from category_encoders) (1.3.4)
Requirement already satisfied: statsmodels>=0.9.0 in c:\users\gopal\anaconda3\lib\site-packages (from category_encoders) (0.12.2)
Requirement already satisfied: pytz>=2017.3 in c:\users\gopal\anaconda3\lib\site-packages (from pandas>=1.0.5->category_encoders) (2021.3)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\gopal\anaconda3\lib\site-packages (from pandas>=1.0.5->category_encoders) (2.8.2)
Requirement already satisfied: six in c:\users\gopal\anaconda3\lib\site-packages (from patsy>=0.5.1->category_encoders) (1.16.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\gopal\anaconda3\lib\site-packages (from scikit-learn>=0.20.0->category_encoders) (2.2.0)
Requirement already satisfied: joblib>=0.11 in c:\users\gopal\anaconda3\lib\site-packages (from scikit-learn>=0.20.0->category_encoders) (1.1.0)

In [3]:
data = pd.read_csv(r"C:\Users\gopal\Documents\major1\old_powerconsumption_New_data.csv")
data.head()

   Temperature   Humidity     Voltage   Current       Power
0    35.013286   1.620603  119.055519  3.030663  360.817191
1    25.908730  57.847918   48.723414  4.386690  213.734504
2    10.460330  64.609784  118.066455  2.184007  257.857940
3    19.179683  36.108564   28.903095  1.955580   56.522317
4    35.234379  14.920370  106.262071  2.360396  250.820597

In [4]:
 print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6430 entries, 0 to 6429
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Temperature  6430 non-null   float64
 1   Humidity     6430 non-null   float64
 2   Voltage      6430 non-null   float64
 3   Current      6430 non-null   float64
 4   Power        6430 non-null   float64
dtypes: float64(5)
memory usage: 251.3 KB
None

In [5]:
data.select_dtypes(include=['object']).head()

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4]

In [6]:
# prices = all features except those with object type value
# prices_objects = all features with object type value
data_objects = data.select_dtypes(include=['object']).copy()
datas = data.select_dtypes(exclude=['object']).copy()
data_objects.head()

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4]

In [7]:
datas = datas.drop(['Power'],axis=1)
datas.isnull().sum()

Temperature    0
Humidity       0
Voltage        0
Current        0
dtype: int64

In [12]:
#drop the data in similar data
X=datas.drop(['Voltage','Current'],axis=1)



#drop Particular (Temperature and Humidity) column
u=datas['Temperature']
v=datas['Humidity']
X

      Temperature   Humidity
0       35.013286   1.620603
1       25.908730  57.847918
2       10.460330  64.609784
3       19.179683  36.108564
4       35.234379  14.920370
...           ...        ...
6425    45.063457  11.782585
6426    25.460191  56.616609
6427     3.278908  22.049223
6428     5.643323  18.213687
6429    18.304648  56.437210

[6430 rows x 2 columns]

##  Support Vector Machine for Polynomial Regression

In [9]:
#data will be train the Radial basis function (RBF) kernel: and Polynomial kernel and Sigmoid kernel: 
clf1 = SVR(kernel='rbf',degree=3, C=1.0, epsilon=0.1)
clf2 = SVR(kernel='poly',degree=3, C=1.0, epsilon=0.1)

In [10]:
#data fit 'Temperature','Humidity','Voltage','Current'  vs  Latitude
clf1.fit(X, u)


 #data fit 'Temperature','Humidity','Voltage','Current'  vs  Longitude
clf2.fit(X,v)

SVR(kernel='poly')

In [11]:
pow=0

while(pow!=1):
  #Input data
  lati=input("Enter the Temperature: ")
  longi=input("Enter the Humidity: ")

  #testing the New data 
  test=np.array([lati,longi])
  data = pd.DataFrame(test.reshape(-1,len(test)),columns=('Temperature','Humidity'))

  #predict the data using clf1
  volt= clf1.predict(data)

  #predict the data using clf2
  curr= clf2.predict(data)




  #display the Voltage and current
  print("Voltage:",volt)
  print("current:",curr)



  #the power will be display on the given voltage and current values
  power=volt*curr
  if power<=1000:
    print("Power:",power)
    pow=1
  else:
    pow=0

Enter the Temperature: 35.0132
Enter the Humidity: 1.620
Voltage: [33.9276078]
current: [15.94580079]
Power: [541.00287507]